/* Logo font : BioRhyme*/
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
/* Subtitles font : Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* text font : Slabo 13px */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Slabo+13px&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Slabo 13px";
}
h1 {
  font-family: "BioRhyme";
  font-size: 50px;
  color: #f6a067;
}
h2 {
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  border-radius: 10px;
}
button:hover {
  color: #000000;
  background-color: #f6cd9e;
}
button:active {
  transform: translateY(4px);
  background-color: #e1dede;
}
/* Pour que le lien "panier" ait la même couleur que les liens de la ul de la nav.*/
nav form + a {
  color: rgba(0, 0, 0, 0.5);
}
.prodDesc::-webkit-scrollbar {
  display: none;
}
.prodDesc p {
  font-size: 0.8rem;
  margin: 1rem;
}
.prodDesc {
  /* border: 1px solid grey; */
  border-radius: 10px;
  height: 250px;
  overflow-y: scroll;
  background-color: #e9e5e5;
  scrollbar-width: none;
  margin-right: 10px;
}
.trash {
  visibility: hidden;
}
/* Bouton de retour vers le haut */
@media all and (min-width: 992px) {
  #goToTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #555555;
    color: #e9e5e5;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  #goToTop:hover {
    background-color: #f6cd9e;
    color: #555555;
  }
}

/* Pour que le lien "panier" ait la même couleur que les liens de la ul de la nav.*/
nav form + a {
  color: rgba(0, 0, 0, 0.5);
}
/* Animation pour la Popup d'accueil */
@keyframes slideTop {
  from {
    top: -50vh;
  }
  to {
    top: 30vh;
  }
}

#popUp {
  position: absolute;
  z-index: 99; /* Pour qu'elle se place au-dessus du reste */
  top: 30vh;
  animation: 1s slideTop;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f7d6bf;
  color: #8c3333;
  font-weight: bold;
  font-family: "Montserrat";
  cursor: pointer;
  text-align: center;
}

.btn-close {
  text-align: right;
}

@media all and (max-width: 767.99px) {
  #popUp p {
    margin: 1rem;
  }
  #popUp {
    width: 300px;
    left: calc(50vw - 150px);
  }
}

@media all and (min-width: 768px) {
  #popUp p {
    margin: 1rem 2rem;
  }

  #popUp {
    width: 500px;
    left: calc(50vw - 250px);
  }
}

#displayProducts h2 {
  background-color: #e9e5e5;
  padding: 5vh;
}

#displayProducts h3 {
  font-size: 1.5em;
}

#resultRecherche {
  font-size: 1.5em;
  margin: 2rem;
  height: 10vh;
}

#cadeau {
  background-color: lightgrey;
}
footer img {
  width: 2rem;
}
